// colors

$greyBlack:#343a40;


* {
    box-sizing: border-box;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-around;
    max-height: 30px;
    background-color: $greyBlack;
    align-items: center;

    input {
        height: 20px;
        width: 150px;
        border-radius: 5px;
        border: none;
    }

    h3 {
        color: white;
    }
}

#title-bar {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;

    h1 {
        text-align: center;
        font-size: 2em;
        color: $greyBlack;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

footer {
    background-color: $greyBlack;
    padding: 20px;
    margin-top: 30px;
    
   

    p {
        color: white;
        text-align: center;
        font-size: 12px;
    }
}

#show-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;

    div {
        background-color: $greyBlack;
        width: 250px;
        height: 350px;
        margin: 20px;

        img {
            width: 100%;
        }

        a:link {
            text-align: center;
            margin: 0;
            color: $greyBlack;
            text-decoration: none;
            display: block;
            margin: 0 auto;
        }

    }
}


#show-info {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 0 auto;

    #movieCard {
        order: 1;

    }

    #show-details, #cast {
        margin-left: 40px;
        order: 2;

        h3{
            color: $greyBlack;
        }


        #lists {
            display: flex;
            flex-direction: column;

            
            h3 {
                order: 1;
                color: #343a40;
            }

            #ul-season {
                order: 2;
                margin: 5px;

            }
        }

        #ul-cast{
            margin: 5px;
            order: 2;
        }


    }

    img {
        max-height: 550px;
        max-width: 400px;
    }

    .lower-div {
        order: 3;
        margin-bottom: 100px;
        h2{
            color: $greyBlack;
        }
    }
}

